<!DOCTYPE html>
<html lang="en">
{{>navbar}}
<head>
  <title>Coursework</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
table td {
width:33.3333%;
height:30px;
line-height:50px;
}
</style>

<body>
<div class="container">
<h2>Coursework List</h2>
</style>
<div class="text-right">
    <a href="/coursework/create" class="btn btn-primary">
      Add Coursework
    </a>
</div>

{{#coursework}}   
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr> 
      </div> 
        <th>
        Coursework
        </th>
      </tr>
    </thead>
    </div>
    <tbody>
      <tr>
        <td>Coursework Title</td>
        <td>{{title}}</td>
      </tr>
      <tr>
        <td>Module</td>
        <td>{{module}}</td>
      </tr>
      <tr>
        <td>Due Date</td>
        <td>{{dueDate}}</td>
      </tr>
      <tr>
        <td>Completion Date</td>
        <td>{{compDate}}</td>
        <a class="nav-link" href="delete/{{_id}}">Delete Entry</a>
      </tr>
      {{/coursework}}
    </tbody>
  </table>
</div>
</body>
</html>