<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
table td {
width:33.3333%;
height:30px;
line-height:50px;
}
</style>
<body>

<div class="form-group">
  <form method="post" role="form">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username Here.." required>

    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password" placeholder="Enter password Here.." required>
  
    <input type="submit" value="Login" class="btn btn primary">
  </form>
</div>
</body>
</html>